
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
*   @microsoft/genalog-admins

genalog/degradation/ @laserprec
genalog/generation/ @laserprec
genalog/text/ @laserprec
genalog/ocr/ @laserprec

tests/ @laserprec