biopython==1.76
numpy==1.18.1
python-dotenv==0.11.0
requests==2.23.0
azure-core==1.10.0
azure-common==1.1.26
azure-storage-blob==12.3.1
tqdm==4.43.0
Jinja2==2.11.1
WeasyPrint==51
matplotlib==3.2.1
scikit-image==0.16.2
opencv-python==4.2.0.34
pandas==1.0.1
aiofiles==0.5.0
aiohttp==3.6.2