{# Copyright (c) Microsoft Corporation. All rights reserved. #}

.section-title {
    font-weight: bold;
    font-size: {{ font_size_title }};
}

.letter-head {
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}

.letter-head p {
    margin-top: 0;
}

.addressee {
    margin: 30px 0 15px 0 ;
}

