{# Copyright (c) Microsoft Corporation. All rights reserved. #}

{% macro set_font(font_family, size) -%}
    html {
        font-family: {{ font_family }};
        font-size: {{ size }};
    }
{% endmacro %}

{% macro set_hyphenation(hyphenate=True) -%}
    {% if hyphenate %}
        html { hyphens: auto; }
    {% else %}
        html { hyphens: none; }
    {% endif %}
{% endmacro %}

{% macro set_text_align(alignment) -%}
    html { text-align: {{ alignment }} }
{% endmacro %}